* {
  /* border: 2px solid red; */
  font-size: 30px;
}

html {
  font-family: "Kanit", sans-serif;
}
body {
  background-color: blueviolet;
}

h1 {
  text-align: center;
  color: aquamarine;
  font-size: 3rem;
  padding-left: 2rem;
}

.lottery-number {
  height: 5vh;
  width: 3vh;
  border: 4px solid yellowgreen;
  background-color: blue;
  padding: 10px 20px;
  color: wheat;
  text-align: center;
  font-size: 1.5rem;
}

.flex-container {
  display: flex;
  align-items: center;
  background-color: blueviolet;
}

.first-line {
  justify-content: space-between;
  padding: 20px;
}

.second-line {
  display: flex;
  justify-content: center;
}

.button-box {
  width: 20vw;
  justify-content: space-around;
  padding-right: 3rem;
}

.buttons {
  border: 4px solid yellowgreen;
  background-color: orange;
}

.number-block {
  height: 70vh;
  right: 25%;
  width: 50vw;
  justify-content: space-around;
}
